<!-- radial bar -->
<div *ngIf="barProperties.barType == 'radial'" class="set-size charts-container"
  [style.font-size.em]="barProperties.radial.size">
  <div>
    <div class="pie-wrapper progress-radial style-2">
      <span *ngIf="barProperties.radial.label.enable && barProperties.progress <= 100 && barProperties.progress >= 0" class="label"
       [style.color]="barProperties.radial.label.color" >
        {{barProperties.progress}}
        <span *ngIf="!barProperties.progress">0</span>
        <span class="smaller" [style.color]="barProperties.radial.label.color" >
          %</span>
        </span>
      <div class="pie" >
        <div class="half-circle left-side" [style.border-color]='barProperties.color' 
        [style.transform]="'rotate(' + (barProperties.progress * 3.6) + 'deg)'"
        [style.border]="barProperties.progress > 0 ? barProperties.color +' '+ (barProperties.radial.depth)/16+ 'em solid' : barProperties.secondColor +' '+ (barProperties.radial.depth)/16+ 'em solid'"
        >
        </div>
        <div class="half-circle" [ngClass]="{'right-side': barProperties.progress <=50,'right-side2': barProperties.progress >50 }"
          [style.border-color]='barProperties.progress > 50 ? barProperties.color : barProperties.secondColor'
          [style.border]="barProperties.progress > 50 ? barProperties.color +' '+ (barProperties.radial.depth)/16+ 'em solid' : barProperties.secondColor +' '+ (barProperties.radial.depth)/16+ 'em solid'"
          ></div>
      </div>
      <div class="shadow" [style.border]="barProperties.secondColor+' '+ (barProperties.radial.depth)/16+ 'em solid'"></div>
    </div>
  </div>
</div>

<!-- linear bar -->
<div *ngIf="barProperties.barType == 'linear'" [style.height.px]='barProperties.linear.depth'
[style.background-color]='barProperties.secondColor' class="progress-linear">
  <div class="bar" *ngIf="barProperties.progress && barProperties.progress <= 100 && barProperties.progress >= 0" [ngClass]="{stripped: barProperties.linear.stripped, active: barProperties.linear.active }"
   [style.width.%]='barProperties.progress' [style.height.px]='barProperties.linear.depth'
   [style.line-height.px]='barProperties.linear.depth'
    [style.background-color]='barProperties.color'>
    <span *ngIf="barProperties.linear.label.enable && barProperties.progress <= 100" [style.color]='barProperties.linear.label.color'
    [style.font-size.px]="barProperties.linear.label.fontSize">
      {{barProperties.linear.label.value}}
    </span>
    <span *ngIf="barProperties.linear.label.showPercentage" [style.color]='barProperties.linear.label.color'
    [style.font-size.px]="barProperties.linear.label.fontSize">
      {{barProperties.progress+'%'}}
    </span>
  </div> 
  <div class="bar" *ngIf="!barProperties.progress || barProperties.progress > 100 || barProperties.progress < 0" [style.width.%]='0'></div>
</div>