<div class="container">
    <h1>Progress Bar</h1>
    <progress-bar [barProperties]="barOptions"></progress-bar>
</div>
<div class="input-filed-container">
    <mat-card>
        <mat-card-title class="card-title">Customize the progress bar</mat-card-title>
        <mat-form-field class="card-input-field">
            <mat-select placeholder="Bar Type" [(ngModel)]="barOptions.barType">
                <mat-option value="linear">Linear</mat-option>
                <mat-option value="radial">Radial</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="card-input-field">
            <input type="number" max=100 min=0 [(ngModel)]="barOptions.progress" matInput placeholder="Progress(%)">
            <mat-hint align="start"><strong>Min 0 and Max upto 100</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field class="card-input-field">
            <input matInput [(ngModel)]="barOptions.color" placeholder="Color">
        </mat-form-field>

        <div *ngIf="barOptions.barType == 'radial'">
            <mat-form-field class="card-input-field">
                <input matInput [(ngModel)]="barOptions.radial.secondColor" placeholder="Second Color">
            </mat-form-field>
            <mat-form-field class="card-input-field">
                <input type="number" [(ngModel)]="barOptions.radial.depth" [max]='8' matInput placeholder="Depth">
            </mat-form-field>
            <mat-form-field class="card-input-field">
                <input type="number" [(ngModel)]="barOptions.radial.size" matInput placeholder="Size">
            </mat-form-field>
            <mat-divider class="card-field-divider"></mat-divider>
            <h4>Label Settings:</h4>
            <mat-checkbox class="card-input-field" [(ngModel)]="barOptions.radial.label.enable">Show Label</mat-checkbox>
            <mat-form-field *ngIf="barOptions.radial.label.enable" class="card-input-field">
                <input matInput [(ngModel)]="barOptions.radial.label.color" placeholder="Label Color">
            </mat-form-field>
        </div>

        <div *ngIf="barOptions.barType == 'linear'">
            <mat-form-field class="card-input-field">
                <input type="number" [(ngModel)]="barOptions.linear.depth" matInput placeholder="Depth">
            </mat-form-field>
            <mat-checkbox class="card-input-field" [(ngModel)]="barOptions.linear.stripped">
                Stripped
            </mat-checkbox>
            <br>
            <mat-checkbox class="card-input-field" [(ngModel)]="barOptions.linear.active">
                Active
            </mat-checkbox>
            <mat-divider class="card-field-divider"></mat-divider>
            <h4>Label Settings:</h4>
            <mat-checkbox class="card-input-field" [(ngModel)]="barOptions.linear.label.showPercentage">Show Percentage</mat-checkbox>
            <br>
            <mat-checkbox class="card-input-field" [(ngModel)]="barOptions.linear.label.enable">Show Label</mat-checkbox>
            <br>
            <div *ngIf="barOptions.linear.label.enable">
                <mat-form-field class="card-input-field">
                    <input matInput [(ngModel)]="barOptions.linear.label.value" placeholder="Label text">
                </mat-form-field>
                <mat-form-field class="card-input-field">
                    <input matInput [(ngModel)]="barOptions.linear.label.color" placeholder="Label Color">
                </mat-form-field>
                <mat-form-field class="card-input-field">
                    <input type="number" [(ngModel)]="barOptions.linear.label.fontSize" matInput placeholder="Label Font Size">
                </mat-form-field>
            </div>
        </div>
        <h3 class="container">{{barOptions | json}}</h3>
    </mat-card>
</div>